@{
    ViewBag.Title = S.AssignPassword;
}

<h2>@System.Configuration.ConfigurationManager.AppSettings["ASE.SiteName"] - @S.AssignPassword</h2>
<hr />
<h3><b>@S.User: </b> @ViewBag.User</h3>
<h3><b>@S.AssignPasswordCode: </b> @ViewBag.Code</h3>