@{
    ViewBag.Title = S.RestoringPassword;
}

<h2>@System.Configuration.ConfigurationManager.AppSettings["ASE.SiteName"] - @S.RestoringPassword</h2>
<hr />
<h3><b>@S.User: </b> @ViewBag.User</h3>
<h3><b>@S.RestorePasswordCode: </b> @ViewBag.Code</h3>