
<link rel="stylesheet" href="~/Content/FormValidationStyles.css" />

<form name="AddAccountForm" class="form-horizontal" style="padding: 10px">
    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
                ng-click='MWS.close("AccountEdit")'>
            &times;
        </button>
        <h4 class="modal-title">@R.R.Edit</h4>
    </div>

    <div class="modal-body">
        <input type="hidden" ng-model="newAccount.Id"/>
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">@R.R.Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" required
                       ng-required="true"
                       ng-minlength="1"
                       ng-maxlength="15"
                       ng-model="newAccount.Name"
                       ng-class="{'valid': AddAccountForm.name.$valid,
                                 'invalid': AddAccountForm.name.$invalid,
                                 'required': AddAccountForm.name.$error.required}"/>
                <div ng-if="AddAccountForm.name.$invalid && AddAccountForm.name.$dirty">
                    <p ng-if="AddAccountForm.name.$error.minlength" class="error">Name should has one character at least.</p>
                    <p ng-if="AddAccountForm.name.$error.maxlength" class="error">Name should has up to 50 characters long.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="currencies" class="control-label col-sm-2">@R.R.Currency:</label>
            <div class="col-sm-10">
                <select class="form-control" id="currencies" name="currencies" required
                        ng-model="newAccount.CurrencyId"
                        ng-options="o.Id as o.Name for o in currencies"
                        ng-class="{'required': AddAccountForm.currencies.$error.required,
                                   'valid': AddAccountForm.currencies.$valid,
                                   'invalid': AddAccountForm.currencies.$invalid}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="categories" class="control-label col-sm-2">@R.R.Category:</label>
            <div class="col-sm-10">
                <select class="form-control" id="categories" name="categories" required
                        ng-model="newAccount.CategoryId"
                        ng-options="o.Id as o.Name for o in categories"
                        ng-class="{'required': AddAccountForm.categories.$error.required,
                                   'valid': AddAccountForm.categories.$valid,
                                   'invalid': AddAccountForm.categories.$invalid}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="creditLimit" class="control-label col-sm-2">@R.R.CreditLimit:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="creditLimit" name="creditLimit" min="0"
                       ng-required="required"
                       ng-model="newAccount.CreditLimit"
                       value="{{newAccount.CreditLimit}}"
                       ng-class="{'pristine':AddAccountForm.creditLimit.$pristine,
                                 'valid':AddAccountForm.creditLimit.$valid,
                                 'invalid':AddAccountForm.creditLimit.$invalid}"/>
                <div ng-if="AddAccountForm.creditLimit.$invalid && AddAccountForm.creditLimit.$dirty">
                    <p ng-if="AddAccountForm.creditLimit.$error.required" class="error">You should fill this filed.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-sm-2">@R.R.Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description"
                    ng-maxlength="50"
                    ng-model="newAccount.Description"
                    ng-class="{
                        'pristine': AddAccountForm.description.$pristine,
                        'valid': AddAccountForm.description.$valid,
                        'invalid': AddAccountForm.description.$invalid}"
                       />

                <div ng-if="AddAccountForm.description.$invalid && AddAccountForm.description.$dirty">
                    <p ng-if="AddAccountForm.description.$error.maxlength" class="error">Description should had up to 50 characters long.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <label for="deleted" class="control-label col-sm-2">@R.R.Deleted:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="deleted" ng-model="newAccount.deleted"/>`
                </div>
                <label for="showInRest" class="control-label col-sm-4">@R.R.ShowInRest:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="showInRest" ng-model="newAccount.showInRest"/>`
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" ng-click="newAccountAdd(newAccount)" class="btn btn-primary"> @R.R.Save</button>
        <button type="button" ng-click="MWS.close('AccountEdit')" class="btn btn-default" data-dismiss="modal">@R.R.Close</button>
    </div>
</form>