<link rel="stylesheet" href="~/Content/FormValidationStyles.css" /> 
<form name="AddAccountForm" class="form-horizontal" style="padding: 10px">
    <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-hidden="true" 
                ng-click='windowClose("AccountAdd")'>&times;</button>
        <h4 class="modal-title">@R.R.Edit</h4>
    </div>

    <div class="modal-body" >
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">@R.R.Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" required
                       value="{{newAccount.Name}}"
                       ng-required ="true"
                       ng-minlength="1"
                       ng-maxlength="15"
                       ng-pattern="/^[A-Z]+[a-z]*[0-9]*/"
                       ng-model="newAccount.Name"
                       ng-class="{'valid':AddAccountForm.name.$valid,
                                 'invalid':AddAccountForm.name.$invalid,
                                 'required':AddAccountForm.name.$error.required}"/>
                <div>
                    <p ng-if="AddAccountForm.name.$error.pattern" class="error">Name should start from uppercase letter.</p>
                    <p ng-if="AddAccountForm.name.$error.minlength" class="error">Name should has one character at least.</p>
                    <p ng-if="AddAccountForm.name.$error.maxlength" class="error">Name should has up to 15 characters long.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="currencies" class="control-label col-sm-2">@R.R.Currency:</label>
            <div class="col-sm-10">
                <select class="form-control" id="currencies" name="currencies" required
                        ng-model="newAccount.Currency"
                        ng-class="{'required':AddAccountForm.currencies.$error.required,
                                   'valid':AddAccountForm.currencies.$valid,
                                   'invalid':AddAccountForm.currencies.$invalid}">
                    <option ng-selected="newAccount.Currency.Name" 
                            ng-repeat="currency in model.Currencies"
                            label="{{currency.Name}}"
                            value="{{currency.Id}}"/>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="categories" class="control-label col-sm-2">@R.R.Category:</label>
            <div class="col-sm-10">
                <select class="form-control" id="categories" name="categories" required
                        ng-model="newAccount.Category"
                        ng-options="category.Name for category in categories"
                        ng-class="{'required':AddAccountForm.categories.$error.required,
                                   'valid':AddAccountForm.categories.$valid,
                                   'invalid':AddAccountForm.categories.$invalid}">
                    <option ng-selected="newAccount.Category"
                            ng-repeat="category in categories">
                        {{category}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="creditLimit" class="control-label col-sm-2">@R.R.CreditLimit</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="creditLimit" name="creditLimit"  min="0" value="0" required
                       value="{{newAccount.CreditLimit}}"
                       ng-model="newAccount.CreditLimit" 
                       ng-class="{'required':AddAccountForm.categories.$error.required,
                                 'valid':AddAccountForm.creditLimit.$valid,
                                 'invalid':AddAccountForm.creditLimit.$invalid}"/>
                <div ng-if="AddAccountForm.creditLimit.$invalid && AddAccountForm.creditLimit.$dirty">
                    <p ng-if="AddAccountForm.creditLimit.$error.required" class="error">You should fill this filed.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-sm-2">@R.R.Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description"
                       ng-maxlength="50"
                       value="{{newAccount.Description}}"
                       ng-model="newAccount.Description" />
            </div>
        </div>

        <div class="form-group">
            <label for="deleted" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <label for="deleted" class="control-label col-sm-2">@R.R.Deleted:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="deleted" ng-model="newAccount.Deleted" value="{{newAccount.Deleted}}" />`
                </div>
                <label for="showInRest" class="control-label col-sm-4">@R.R.ShowInRest:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="showInRest" ng-model="newAccount.ShowInRest"  value="{{newAccount.ShowInRest}}"/>`
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" ng-click="newAccountAdd(AddAccountForm, newAccount)" class="btn btn-primary">@(Model == null ? R.R.Add : R.R.Save)</button>
        <button type="button" ng-click='windowClose("AccountAdd")' class="btn btn-default" data-dismiss="modal" ng-click="windowClose(newAccountWindow)">@R.R.Close</button>
    </div>
</form>