@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/FormValidationStyles.css" />

<h2>@R.R.Add</h2>

<div id="AccountList" ng-init="refresh()">
    <p>
        <button class="btn btn-success" ng-click="accountEditDialog({})">@R.R.Account</button>
        <button class="btn btn-success" ng-click="categoryListDialog()">@R.R.Category</button>
    </p>

    <uib-tabset active="activeTab">
        <uib-tab index="$index + 1" ng-repeat="category in categories" heading="{{category.Name}}" select="onSelect($event)">
            <table class="table table-bordered table-striped" style="width: 100%">
                <tr>
                    <th>@R.R.Name</th>
                    <th>@R.R.Description</th>
                    <th>@R.R.CreditLimit</th>
                    <th>@R.R.Actions</th>
                </tr>
                <tbody>
                    <tr ng-repeat="account in category.Accounts | filter:{ Deleted: false }">
                        <td>{{account.Name}}</td>
                        <td>{{account.Description}}</td>
                        <td>{{account.CreditLimit}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="accountEditDialog(account)">
                                @R.R.Edit
                                </button>
                                <button class="btn btn-danger"
                                        ng-if="account.Motions.length == 0"
                                        ng-click="accountDelete(account)">
                                    @R.R.Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>        
        </uib-tab>
    </uib-tabset>
</div>
