<form name="EditForm" class="form-horizontal" style="padding: 10px" ng-model-options="{ updateOn:'submit' }" ng-submit="newAccountAdd(newAccount)"> 
    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
                ng-click='MWS.close("AccountEdit")'>
            &times;
        </button>
        <h4 class="modal-title">@R.R.Edit</h4>
    </div>

    <div class="modal-body">
        <input type="hidden" ng-model="newAccount.Id"/>
        <div class="form-group has-feedback"
             ng-class="{'has-success': EditForm.name.$valid  &&  EditForm.$submitted,
                        'has-error':   EditForm.name.$invalid && EditForm.$submitted}">
            <label for="name" class="control-label col-sm-3">@R.R.Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" required
                       value="{{newAccount.Name}}"
                       ng-required="true"
                       ng-minlength="@R.R.InputMinLength"
                       ng-maxlength="@R.R.InputMaxLength"
                       ng-model="newAccount.Name">
                <div ng-if="EditForm.$submitted">
                    <p ng-if="EditForm.name.$error.minlength" class="help-block has-error">@R.R.InputMinLengthWarning  @R.R.InputMinLength</p>
                    <p ng-if="EditForm.name.$error.maxlength" class="help-block has-error">@R.R.InputMaxLengthWarning  @R.R.InputMaxLength</p>
                </div>
            </div>
        </div>
        
        <div class="form-group has-feedback" 
             ng-class="{ 'has-success': EditForm.currency.$valid  && EditForm.$submitted,
                         'has-warning':  EditForm.currency.$invalid && EditForm.$submitted }">
            <label for="currency" class="control-label col-sm-3">@R.R.Currency:</label>
            <div class="col-sm-9">
                <select class="form-control" id="currency" name="currency" ng-required="true"
                        ng-model="newAccount.CurrencyId"
                        ng-options="o.Id as o.Name for o in currencies"/>
                <p ng-if="EditForm.currency.$invalid && EditForm.$submitted" class="help-block has-error">@R.R.SelectValueWarning</p>
            </div>
        </div>

        <div class="form-group has-feedback" 
             ng-class="{ 'has-success': EditForm.category.$valid && EditForm.$submitted,
                         'has-warning': EditForm.category.$invalid && EditForm.$submitted }">
            <label for="category" class="control-label col-sm-3">@R.R.Category:</label>
            <div class="col-sm-9">
                <select class="form-control" id="category" name="category" ng-required="true"
                        ng-model="newAccount.CategoryId"
                        ng-options="o.Id as o.Name for o in categories"/>
                <p ng-if="EditForm.$submitted" class="help-block has-error">@R.R.SelectValueWarning</p>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="creditLimit" class="control-label col-sm-3">@R.R.CreditLimit:</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="creditLimit" name="creditLimit"
                       ng-required="required"
                       ng-model="newAccount.CreditLimit"
                       value="{{newAccount.CreditLimit}}"/>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="description" class="control-label col-sm-3">@R.R.Description:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="description" name="description"
                       ng-maxlength="50"
                       ng-model="newAccount.Description"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-9">
                <label for="deleted" class="control-label col-sm-2">@R.R.Deleted:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="deleted" ng-model="newAccount.deleted"/>`
                </div>
                <label for="showInRest" class="control-label col-sm-4">@R.R.ShowInRest:</label>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control" id="showInRest" ng-model="newAccount.showInRest"/>`
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-primary"> @R.R.Save</button>
        <button type="button" ng-click="MWS.close('AccountEdit')" class="btn btn-default" data-dismiss="modal">@R.R.Close</button>
    </div>
</form>