@using R
@{
    ViewBag.Title = "CategoryAdd";
}

<div id="categoryForm" style="padding: 10px">
   <form name="EditForm" class="form-horizontal" ng-model-options="{updateOn: 'submit'}" ng-submit="categoryUpdate(newCategory,EditForm)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="MWS.close('CategoryEdit')">&times;</button>
            <h4 class="modal-title">@R.Edit</h4>
        </div>
       
       <input type="hidden" ng-model="newCategory.Id"/>
       <div class="modal-body">
           <div class="form-group has-feedback"
                ng-class="{'has-error':  EditForm.name.$invalid && EditForm.$submitted}">
               <label for="name" class="control-label col-sm-3">@R.Name:</label>
               <div class="col-sm-9">
                   <input type="text" class="form-control" id="name" name="name"
                          ng-required="true"
                          value="{{newCategory.Name}}"
                          ng-minlength="@R.InputMinLength"
                          ng-maxlength="@R.InputMaxLength"
                          ng-model="newCategory.Name">
                   <p ng-if="EditForm.name.$error.required && EditForm.$submitted" class="help-block has-error">@R.SelectValueWarning</p>
                   <div ng-if="EditForm.$submitted && EditForm.$invalid">
                        <p ng-if="EditForm.name.$error.minlength" class="help-block has-error">@R.InputMinLengthWarning  @R.InputMinLength </p>
                        <p ng-if="EditForm.name.$error.maxlength" class="help-block has-error">@R.InputMaxLengthWarning  @R.InputMaxLength </p>
                   </div>
                   </div>
           </div>

           <div class="form-group has-feedback"
                ng-class="{'has-error':EditForm.budget.$invalid && EditForm.$submitted}">
               <label for="budget" class="control-label col-sm-3">@R.Budget:</label>
               <div class="col-sm-9">
                   <select class="form-control" id="budget" name="budget"
                           ng-required="true"
                           ng-model="newCategory.BudgetId"
                           ng-options="o.Id as o.Name for o in budgets" />
                   <p ng-if="EditForm.budget.$error.required && EditForm.$submitted" class="help-block has-error">@R.SelectValueWarning</p>
               </div>
            </div>
               <div class="form-group has-feedback">
                   <label for="description" class="control-label col-sm-3">@R.Description:</label>
                   <div class="col-sm-9">
                       <input type="text" class="form-control" id="description" name="description"
                              value="{{newCategory.Description}}"
                              ng-model="newCategory.Description" />
                   </div>
               </div>
        </div>

        <div class="modal-footer">
            <button type="submit" value="submit" class="btn btn-default" data-dismiss="modal" >@R.Save</button>
        </div>
    </form>
</div>
