@{
    Layout = null;
}
<style>
    td
    {
        vertical-align: middle !important;
    }
</style>

<h2>@R.R.Budgets</h2>

<div ng-init="refresh()"  style="padding: 10px">
    <p>
        <button type="button" class="btn btn-success" ng-click="budgetAdd()">@R.R.Add</button>
    </p>

    <table class="table table-bordered table-striped" style="width: 100%">
        <tbody>
        <tr>
            <th>@R.R.Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="budget in budgets">
            <td>
               {{budget.Name}}
            </td>
            <td>
                <span ng-if="budget.OwnerId == userId">
                    <button type="button" class="btn btn-primary" ng-click="budgetAdd(budget)">@R.R.Edit</button>
                    <button type="button" class="btn btn-warning" ng-click="budgetUsers(budget)">@R.R.Users</button>
                    <button type="button" class="btn btn-danger" ng-click="budgetDelete(budget)">@R.R.Delete</button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>