<form name="MotionsForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="MWS.close('MotionsList')">&times;</button>
        <h4 class="modal-title">@R.R.View</h4>
    </div>

    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    @R.R.Account
                </th>
                <th>
                    @R.R.Item
                    <br />
                    @R.R.Note
                </th>
                <th>
                    @R.R.DateTime
                </th>
                <th>
                    @R.R.Sum +
                    <br />
                    @R.R.Sum -
                </th>
                <th>
                    @R.R.Deleted
                </th>
                <th>
                    @R.R.Actions
                </th>
            </tr>
            <tr ng-repeat="motion in Motions">
                <td>
                    {{motion.Account.Name}}
                </td>
                <td>
                    {{motion.Item.Name}}
                    <br />
                    {{motion.Note}}
                </td>
                <td>
                    {{motion.DateTime | amDateFormat:'L LT'}}
                </td>
                <td class="text_right">
                    <span class="green">{{motion.SumP}}</span>
                    <br />
                    <span class="red">{{motion.SumM}}</span>
                </td>
                <td>
                    <input type="checkbox" class="form-control" ng-model="motion.Deleted" ng-click="addToUpdateList(motion)" />
                </td>
                <td>
                    <div ng-show="motion.Deleted">
                        <button class="btn btn-success" ng-click="motionDelete(motion)">@R.R.UnDelete</button>
                    <button class="btn btn-danger" ng-click="motionDelete(motion, true)">@R.R.Delete</button>
                    </div>
                    <div ng-hide="motion.Deleted">
                        <button class="btn btn-warning" ng-click="motionDelete(motion, false)">@R.R.Delete</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="MWS.close('MotionsList')">@R.R.Close</button>
    </div>
</form>