@{ 
    Layout = null;
}
<style>
    td {
        vertical-align: middle !important;
    }
    li>.form-control:hover {
        background-color:dodgerblue;
    }
</style>

<h2>@R.R.Currencies</h2>

<div id="CurrencyList" ng-init="refresh()">
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-success" ng-click="currencyEditDialog({})">@R.R.Add</button>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    @S.ImportRates
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="form-control" ng-click="ratesUpdate('RatesPrivatbank1')">@S.ImportRatesPrivatbank1</button></li>
                    <li><button type="button" class="form-control" ng-click="ratesUpdate('RatesNBU')">@S.ImportRatesNBU</button></li>
                    <li><button type="button" class="form-control" ng-click="ratesUpdate('RatesCBR')">@S.ImportRatesCBR</button></li>
                </ul>
            </div>
            <input class="form-control" type="text" ng-blur="filter($event)" ng-keydown=""/>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @S.MyCurrency
                </th>
                <th>
                    @R.R.Name
                </th>
                <th>
                    @R.R.ShortName
                </th>
                <th>
                    @R.R.Rate
                </th>
                <th>
                    @R.R.Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="currency in activeCurrencies">
                <td>
                    <input type="hidden" class="form-control" ng-model="currency.Id" />
                    <input type="checkbox" class="form-control" 
                           ng-model="currency.MyCurrency" 
                           ng-click="setMyCurrency(currency)" 
                           value="{{currency.MyCurrency}}" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="currency.Name" value="{{currency.Name}}" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="currency.ShortName" value="{{currency.ShortName}}" />
                </td>
                <td>
                    {{currency.Value}}
                </td>
                <td>
                    <buton type="button" class="btn btn-primary" ng-click="currencyEditDialog(currency)">@R.R.Edit</buton>
                    <button type="button" class="btn btn-warning" ng-click="CurrencyArchive(currency)">@R.R.ToArchive</button>
                </td>
            </tr>
        </tbody>
        <tr class="active">
            <td colspan="5" style="background-color:lightgray">
                <button class="btn btn-primary" ng-class="{'glyphicon':true, 'glyphicon-chevron-right': showArchive, 'glyphicon-chevron-down': !showArchive}"
                        ng-click="showArchive = !showArchive" />
            </td>
        </tr>
        <tbody ng-show="!showArchive">
            <tr ng-repeat="currency in archiveCurrencies">
                <td>
                    <input type="hidden" class="form-control" ng-model="currency.Id" />
                    <input type="checkbox" class="form-control"
                           ng-model="currency.MyCurrency"
                           ng-click="setMyCurrency(currency)"
                           value="{{currency.MyCurrency}}" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="currency.Name" value="{{currency.Name}}" />
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="currency.ShortName" value="{{currency.ShortName}}" />
                </td>
                <td>
                    {{currency.Value}}
                </td>
                <td>
                    <buton type="button" class="btn btn-success" ng-click="restoreCurrency(currency)">@R.R.UnDelete</buton>
                    <button type="button" class="btn btn-danger" ng-click="deleteCurrency(currency.Id)">@R.R.Delete</button>
                </td>
            </tr>
        </tbody>
</table>


    
</div>
