<form name="EditForm"
      class="form-horizontal"
      style="padding: 10px"
      novalidate
      ng-model-options="{updateOn:'submit'}"
      ng-submit="addCurrency(newCurrency,EditForm)">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeWindow('CurrencyAdd')" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@R.R.Currency</h4>
    </div>

    <div class="modal-body">
        <div class="form-group has-feedback" ng-class="{'has-error':EditForm.name.$invalid && EditForm.$submitted}">
            <label for="name" class="control-label col-sm-3">@R.R.Name</label>
            <div class="col-sm-9">
                <input id="name" name="name" type="text" class="form-control"
                       ng-model="newCurrency.Name"
                       value="{{newCurrency.Name}}"
                       ng-required="true"
                       ng-minlength="@R.R.InputMinLength"
                       ng-maxlength="@R.R.InputMaxLength"/>
                <div ng-if="EditForm.name.$invalid && EditForm.$submitted">
                    <p ng-if="EditForm.name.$error.minlength" class="help-block has-error">@R.R.InputMinLengthWarning @R.R.InputMinLength</p>
                    <p ng-if="EditForm.name.$error.maxlength" class="help-block has-error">@R.R.InputMaxLengthWarning @R.R.InputMaxLength</p>
                    <p ng-if="EditForm.name.$error.required" class="help-block has-error">@R.R.SelectValueWarning</p>
                </div>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error':EditForm.shortName.$invalid && EditForm.$submitted}">
            <label for="shortName" class="control-label col-sm-3">@R.R.ShortName</label>
            <div class="col-sm-9">
                <input id="shortName" name="shortName" class="form-control" type="text"
                       ng-model="newCurrency.ShortName"
                       value="{{newCurrency.ShortName}}"
                       ng-required="true"
                       ng-minlength="@R.R.InputMinLength"
                       ng-maxlength="@R.R.InputMaxLength"/>
                <div ng-if="EditForm.shortName.$invalid && EditForm.$submitted">
                    <p ng-if="EditForm.shortName.$error.minlength" class="help-block has-error">@R.R.InputMinLengthWarning @R.R.InputMinLength</p>
                    <p ng-if="EditForm.shortName.$error.maxlength" class="help-block has-error">@R.R.InputMaxLengthWarning @R.R.InputMaxLength</p>
                    <p ng-if="EditForm.shortName.$error.required" class="help-block has-error">@R.R.SelectValueWarning</p>
                </div>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error':EditForm.currencyType.$invalid && EditForm.$submitted}">
            <label for="currencyType" class="control-label col-sm-3">@S.Type</label>
            <div class="col-sm-9">
                <select id="currencyType" name="currencyType" class="form-control" type="text"
                        ng-model="newCurrency.CurrencyType"
                        ng-required="true"
                        ng-options="o.Id as o.Name for o in currencyTypes"/>
                <p ng-if="EditForm.currencyType.$error.required && EditForm.$submitted" class="help-block has-error">@R.R.SelectValueWarning</p>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error':EditForm.currencyType.$invalid && EditForm.$submitted}">
            <label for="value" class="control-label col-sm-3">@S.Rate</label>
            <div class="col-sm-9">
                <input type="number" id="value" name="value" class="form-control"
                       ng-model="newCurrency.Value"
                       ng-required="true"
                       ng-disabled="newCurrency.Value==1"/>
                <p ng-if="EditForm.value.$error.required && EditForm.$submitted" class="help-block has-error">@R.R.SelectValueWarning</p>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="">@R.R.Save</button>
        <button type="button" class="btn btn-default" ng-click="closeWindow('CurrencyAdd')">@R.R.Close</button>
    </div>
</form>